<script type="text/javascript" src="js/jquery-1.11.3.js"></script><script type="text/javascript" src="js/slideout.js"></script><script>var slideout = new Slideout({
  'panel': document.getElementById('panel'),
  'menu': document.getElementById('mobile-menu'),
  'padding': 256,
  'tolerance': 70
});
</script><script>$('.btn-menu-mobile').on('click', function() {
  slideout.toggle();
});

</script><script>$(document).ready(function(){
  $(".btn-alert-close").click(function(){
    $(".alert").addClass('hide');

    setTimeout(function(){
      $(".alert").hide();
    }, 300);
  });
});

</script><script>function card_cols_height(){
  $('.equal-height-taller').each(function() {
    cardheight = $(this).height();
    $(this).siblings('.equal-height-shorter').height(cardheight);
  })
}

$(document).ready(function(){
  card_cols_height();
});

$(window).resize(function(){
  card_cols_height();
});
</script><script>var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('#top-level-nav').outerHeight();

$(window).scroll(function(event){
  didScroll = true;
});

setInterval(function() {
  if (didScroll) {
    hasScrolled();
    didScroll = false;
  }
}, 250);

function hasScrolled() {
  var st = $(this).scrollTop();
  
  // Make sure they scroll more than delta
  if(Math.abs(lastScrollTop - st) <= delta)
  return;
  
  // If they scrolled down and are past the navbar, add class .nav-up.
  // This is necessary so you never see what is "behind" the navbar.
  if (st > lastScrollTop && st > navbarHeight) {
    // Scroll Down
    $('#top-level-nav').removeClass('nav-down').addClass('nav-up');
    $('#second-level-nav').removeClass('nav-down').addClass('nav-up');
  } else {
    // Scroll Up
    if(st + $(window).height() < $(document).height()) {
      $('#top-level-nav').removeClass('nav-up').addClass('nav-down');
      $('#second-level-nav').removeClass('nav-up').addClass('nav-down');
    }
  }

lastScrollTop = st;
}
</script><script>var bar = $('#progress-bar'),
$window = $(window),
docHeight = $(document).height(),
baseX = $window.height() / docHeight * 100;
bar.css('background', '-webkit-linear-gradient(left, #fbbf36 '+ baseX +'%, #c6c6c6 '+ baseX +'%)');

$window.scroll(function(e) {
  var x = $window.scrollTop() / docHeight * 100 + baseX;
  bar.css('background', '-webkit-linear-gradient(left, #fbbf36 '+ x +'%, #c6c6c6 '+ x +'%)');
});
</script><script>var navBar = $('#second-level-nav');
var headerHeight = $('#top-level-nav').height() - navBar.height();

$(window).scroll(function() {
  var actualPosTop = $(document).scrollTop();
  if (actualPosTop >= 540) {
    navBar.addClass("sticky");
  } else {
    navBar.removeClass("sticky");
  }
});

</script><script>// Cache selectors
var lastId,
topMenu = $("#second-level-nav-menu"),
topMenuHeight = topMenu.outerHeight() + 50,
// All list items
menuItems = topMenu.find("a"),
// Anchors corresponding to menu items
scrollItems = menuItems.map(function(){
  var item = $($(this).attr("href"));
  if (item.length) { return item; }
});

// Bind click handler to menu items
// so we can get a fancy scroll animation
menuItems.click(function(e){
  var href = $(this).attr("href"),
  offsetTop = href === "#" ? 0 : $(href).offset().top-topMenuHeight+1;
  $('html, body').stop().animate({
    scrollTop: offsetTop
  }, 600);
  e.preventDefault();
});

// Bind to scroll
$(window).scroll(function(){
  // Get container scroll position
  var fromTop = $(this).scrollTop()+topMenuHeight;
  // Get id of current scroll item
  var cur = scrollItems.map(function(){
    if ($(this).offset().top < fromTop)
    return this;
  });

  // Get the id of the current element
  cur = cur[cur.length-1];
  var id = cur && cur.length ? cur[0].id : "";
  if (lastId !== id) {
    lastId = id;
    // Set/remove active class
    menuItems
    .parent().removeClass("active")
    .end().filter("[href=#"+id+"]").parent().addClass("active");
  }
});</script>