.row.block-ver-md
  //- LONDON
  .col-xs-12.col-sm-6.col-md-4
    .block-bot-sm
      h4 London (EMEA Headquarters)
    
    .block-bot-sm
      p Address Line 1 Lorem Ipsum
        br
        | Address Line 2 Lorem Ipsum
    
    .block-bot-sm
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Fax: 
        a.underlined(href="callto:0123456789") +0 123 456 789

    .block-bot-md
      p: strong Client Services
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Email: 
        a.underlined(href="mailto:name@wgsn.com") name@wgsn.com

  //- PARIS
  .col-xs-12.col-sm-6.col-md-4
    .block-bot-sm
      h4 Paris
    
    .block-bot-sm
      p Address Line 1 Lorem Ipsum
        br
        | Address Line 2 Lorem Ipsum
    
    .block-bot-sm
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Fax: 
        a.underlined(href="callto:0123456789") +0 123 456 789

    .block-bot-md
      p: strong Client Services
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Email: 
        a.underlined(href="mailto:name@wgsn.com") name@wgsn.com

  //- GERMANY
  .col-xs-12.col-sm-6.col-md-4
    .block-bot-sm
      h4 Germany
    
    .block-bot-sm
      p Address Line 1 Lorem Ipsum
        br
        | Address Line 2 Lorem Ipsum
    
    .block-bot-sm
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Fax: 
        a.underlined(href="callto:0123456789") +0 123 456 789

    .block-bot-md
      p: strong Client Services
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Email: 
        a.underlined(href="mailto:name@wgsn.com") name@wgsn.com

  //- ITALY
  .col-xs-12.col-sm-6.col-md-4
    .block-bot-sm
      h4 Italy
    
    .block-bot-sm
      p Address Line 1 Lorem Ipsum
        br
        | Address Line 2 Lorem Ipsum
    
    .block-bot-sm
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Fax: 
        a.underlined(href="callto:0123456789") +0 123 456 789

    .block-bot-md
      p: strong Client Services
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Email: 
        a.underlined(href="mailto:name@wgsn.com") name@wgsn.com

  //- SPAIN
  .col-xs-12.col-sm-6.col-md-4
    .block-bot-sm
      h4 Spain
    
    .block-bot-sm
      p Address Line 1 Lorem Ipsum
        br
        | Address Line 2 Lorem Ipsum
    
    .block-bot-sm
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Fax: 
        a.underlined(href="callto:0123456789") +0 123 456 789

    .block-bot-md
      p: strong Client Services
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Email: 
        a.underlined(href="mailto:name@wgsn.com") name@wgsn.com

  //- TURKEY
  .col-xs-12.col-sm-6.col-md-4
    .block-bot-sm
      h4 Turkey
    
    .block-bot-sm
      p Address Line 1 Lorem Ipsum
        br
        | Address Line 2 Lorem Ipsum
    
    .block-bot-sm
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Fax: 
        a.underlined(href="callto:0123456789") +0 123 456 789

    .block-bot-md
      p: strong Client Services
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Email: 
        a.underlined(href="mailto:name@wgsn.com") name@wgsn.com

  //- SOUTH AFRICA
  .col-xs-12.col-sm-6.col-md-4
    .block-bot-sm
      h4 South Africa
    
    .block-bot-sm
      p Address Line 1 Lorem Ipsum
        br
        | Address Line 2 Lorem Ipsum
    
    .block-bot-sm
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Fax: 
        a.underlined(href="callto:0123456789") +0 123 456 789

    .block-bot-md
      p: strong Client Services
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Email: 
        a.underlined(href="mailto:name@wgsn.com") name@wgsn.com