.row.block-ver-md
  //- BRAZIL
  .col-xs-12.col-sm-6.col-md-4
    .block-bot-sm
      h4 Brazil (LATAM headquarters)
    
    .block-bot-sm
      p Address Line 1 Lorem Ipsum
        br
        | Address Line 2 Lorem Ipsum
    
    .block-bot-sm
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Fax: 
        a.underlined(href="callto:0123456789") +0 123 456 789

    .block-bot-md
      p: strong Client Services
      p Tel: 
        a.underlined(href="callto:0123456789") +0 123 456 789
      p Email: 
        a.underlined(href="mailto:name@wgsn.com") name@wgsn.com