section.bg-xlt-grey
  .content-wrap
    .row
      .col-sm-6.equal-height-taller
        .block-md.bg-dk-grey#newsletter-signup
          h5 Sign up to our newsletters
          p
            | Enter your email address to receive snippets of the best content
            | from WGSN, hand-selected from across our platforms and delivered
            | straight to your inbox.
          
          form
            .row
              .col-sm-12.block-ver-sm
                input.input(type='text', placeholder='Enter your email address')

            .row
              .col-xs-12.col-sm-6.col-md-6.col-lg-4
                input(type="checkbox", name="daily", value="daily", id="daily")
                label(for="daily") Daily blog alerts
              .col-xs-12.col-sm-6.col-md-6.col-lg-4
                input(type="checkbox", name="weekly", value="weekly", id="weekly")
                label(for="weekly") Weekly blog digest
              .col-xs-12.col-sm-6.col-md-6.col-lg-4
                input(type="checkbox", name="monthly", value="monthly", id="monthly")
                label(for="monthly") Monthly sampler

            .row
              .col-xs-12
                .block-top-sm: a.btn.btn-grey.pull-right(href="") Sign up
    
      .col-sm-6.equal-height-shorter
        .block-md.text-center.bg-white-border.display-box#follow-wgsn
          .block
            .block-ver-sm
              p Follow us
              a.social-media-icon(href=""): i.fa.fa-facebook
              a.social-media-icon(href=""): i.fa.fa-instagram
              a.social-media-icon(href=""): i.fa.fa-twitter
              a.social-media-icon(href=""): i.fa.fa-tumblr
              a.social-media-icon(href=""): i.fa.fa-linkedin
              a.social-media-icon(href=""): i.fa.fa-youtube
              a.social-media-icon(href=""): i.fa.fa-google-plus
            
            .block-ver-sm
              p For a glimpse into WGSN membership visit our free content stream
              a.blog-logo(href='http://www.wgsn.com/blogs/', target='_blank')

footer
  .content-wrap.block-ver-lg
    .row.block-ver-sm
      .col-sm-12.text-center
        img(src="/img/logos/wgsn-logo-white.png", width="102")

    .row.hidden-sm
      .col-sm-12.text-center
        ul#footer-products
          li: a(href="/wgsn-fashion") Fashion
          li /
          li: a(href="/wgsn-lifestyle") Lifestyle &amp; Interiors
          li /
          li: a(href="/wgsn-instock") Instock
          li /
          li: a(href="/wgsn-styletrial") Styletrial
          li /
          li: a(href="/wgsn-mindset") Mindset
    
    .row.block-top-md
      .col.col-sm-2
        h4.hidden-sm Go to
        ul.block-bot-md.hidden-sm
          li: a(href="/wgsn-fashion") Products
          li: a(href="/about") About us
          li: a(href="/wgsn-users") WGSN users
          li: a(href="/events") Events
          li: a(href="/press") Press
          li: a(href="/contact") Contact us
          li: a(href="http://www.wgsn.com/blogs/") Blog
     
      .col.col-sm-5
        h4 Give us a call
        ul.block-bot-md#footer-call
          li North America 
            a.no-wrap(href="tel:12122012800") +1 (212) 201-2800
          li Europe, Middle East &amp; Africa 
            a.no-wrap(href="tel:442077156200") +44 20 7715 6200
          li Asia Pacific 
            a.no-wrap(href="tel:85227300831") +852 2730 0831
          li Latin America 
            a.no-wrap(href="tel:551133727272") + 55 11 3372 7272
        
        h4 Legal
        ul.block-bot-md#footer-legal
          li: a(href="/terms") Terms &amp; conditions
          li: a(href="/policy") Privacy &amp; cookies policy

      .col.col-sm-5
        h4.hidden-xs Get WGSN
        p.block-bot-md.hidden-xs WGSN’s services are available via online subscription to our suite of products or bespoke consulting solutions. To learn more, 
          a(href="/demo") click here
          | .
    
        h4 Follow WGSN
        ul.block-bot-md#footer-social-media
          li: a(href=""): i.fa.fa-facebook
          li: a(href=""): i.fa.fa-instagram
          li: a(href=""): i.fa.fa-twitter
          li: a(href=""): i.fa.fa-tumblr
          li: a(href=""): i.fa.fa-linkedin
          li: a(href=""): i.fa.fa-youtube
          li: a(href=""): i.fa.fa-google-plus

    .row.block-ver-sm
      .col-sm-12.text-center
        p.copyright
          | WGSN Limited, Company number 4858491 (England &amp; Wales).
          br
          | Registered address: c/o Top Right Group Limited, The Prow, 1 Wilder Walk, London, W1B 5AP