header
  #top-level-nav
    .content-wrap
      .nav
        .btn-menu-mobile.pull-left
          .bar.bar-1
          .bar.bar-2
          .bar.bar-3
        a.logo.pull-left(href="index.html"): img(src="/img/logos/wgsn-logo-white.png", width="106")
        ul.hidden-lg.tight
          li#nav-product
            a.main(href="/wgsn-fashion") Products
            ul.dropdown
              li: a(href="/wgsn-fashion") Fashion
              li: a(href="/wgsn-lifestyle") Lifestyle &amp; Interiors
              li: a(href="/wgsn-instock") Retail analytics
              li: a(href="/wgsn-styletrial") Design reviews
              li: a(href="/wgsn-mindset") Consulting
          li /
          li#nav-about
            a.main(href="/about") About Us
            ul.dropdown
              li: a(href="/about#our-services") Our services
              li: a(href="/about#people") People
              li: a(href="/about#careers") Careers
          li /
          li#nav-wgsn-users
            a.main(href="/wgsn-users") WGSN Users
            ul.dropdown
              li: a(href="/wgsn-users#who-uses-wgsn") Who uses WGSN
              li: a(href="/wgsn-users#clients") Our clients
              li: a(href="/wgsn-users#case-studies") Case studies
          li /
          li#nav-events
            a.main(href="/events") Events
            ul.dropdown
              li: a(href="/events") All events
              li: a(href="/events") North America
              li: a(href="/events") Europe, Middle East &amp; Africa 
              li: a(href="/events") Asia Pacific
              li: a(href="/events") Latin America
          li /
          li#nav-press
            a.main(href="/press") Press
            ul.dropdown
              li: a(href="/press#media") In the media
              li: a(href="/press#press-releases") Press releases
              li: a(href="/press#press-enquiries") Press enquiries
          li /
          li#nav-contact
            a.main(href="/contact") Contact Us
            ul.dropdown
              li: a(href="/contact#north-america") North America
              li: a(href="/contact#europe") Europe, Middle East &amp; Africa
              li: a(href="/contact#asia-pacific") Asia Pacific
              li: a(href="/contact#latam") Latin America
          li /
          li: a.main(href="http://www.wgsn.com/blogs/", target="_blank") Blog

      .buttons
        select#language-select
          option English
          option Español
          option Português
          option Русский
          option 中文
          option 日本語
          option 한국어
        a.btn.btn-yellow#btn-demo(href="/demo") Get a demo
        a.btn.btn-white#btn-login(href="/login") Log In