nav#mobile-menu.bg-xdk-grey
  ul
    //- li.top-level
    //-   a.btn.btn-yellow.pull-right#btn-demo(href="/demo") Get a demo
    li.top-level
      a(href="/") Home
    li.top-level
      a(href="/wgsn-fashion") Products
      ul
        li: a(href="/wgsn-fashion") Fashion
        li: a(href="/wgsn-lifestyle") Lifestyle &amp; Interiors
        li: a(href="/wgsn-instock") Retail analytics
        li: a(href="/wgsn-styletrial") Design reviews
        li: a(href="/wgsn-mindset") Consulting
    li.top-level
      a(href="/about") About Us
      //- ul
      //-   li: a(href="/about#our-services") Our services
      //-   li: a(href="/about#people") People
      //-   li: a(href="/about#careers") Careers
    li.top-level
      a(href="/wgsn-users") WGSN Users
      //- ul
      //-   li: a(href="/wgsn-users#who-uses-wgsn") Who uses WGSN
      //-   li: a(href="/wgsn-users#clients") Our clients
      //-   li: a(href="/wgsn-users#case-studies") Case studies
    li.top-level
      a(href="/events") Events
      //- ul
      //-   li: a(href="") All events
      //-   li: a(href="") UK &amp; Europe
      //-   li: a(href="") North America
      //-   li: a(href="") South America
      //-   li: a(href="") Middle East
      //-   li: a(href="") Asia Pacific
    li.top-level
      a(href="/press") Press
      //- ul
      //-   li: a(href="/press#media") In the media
      //-   li: a(href="/press#press-releases") Press releases
      //-   li: a(href="/press#press-enquiries") Press enquiries
    li.top-level
      a(href="/contact") Contact Us
      //- ul
      //-   li: a(href="/contact#north-america") North America
      //-   li: a(href="/contact#europe") Europe, Middle East &amp; Africa
      //-   li: a(href="/contact#asia-pacific") Asia Pacific
      //-   li: a(href="/contact#latam") Latin America
    li.top-level: a(href="http://www.wgsn.com/blogs/", target="_blank") Blog
    
    .block-top-md
      li.top-level#language
        a(href="") Language
        ul
          li.selected: a(href="") English
          li: a(href="") Español
          li: a(href="") Português
          li: a(href="") Русский
          li: a(href="") 中文
          li: a(href="") 日本語
          li: a(href="") 한국어