extends layout

block content
  section
    .content-wrap.text-center
      h1 4-ohhh-4!
      p We can't find what you're looking for.
      .block-top-md: a.btn.btn-grey(href="/") Go to the home page