extends layout

block content
  section
    .content-wrap.text-center
      h1 Forgot password?
      form.narrow-form
        p.text-center
          | Please enter the email address associated with your WGSN account.
          | You'll receive an email with your login instructions shortly.
        
        .block-top-md
          label Email address
          input.input(type="text", placeholder="Email")

        .row
          .col-xs-6.text-left
            .block-ver-sm: a.underlined(href="/login") &#8592; Back to login

          .col-xs-6.text-right
            a.btn.btn-yellow.pull-right(href="") Send

        .row.block-top-md
          .col-xs-12.text-right
            p Need help? 
              a.underlined(href="/contact") Get in touch
              | .