extends layout

block append vars
  - bodyclass = 'view-index'

block content
  section.masthead.wow.fadeIn(style="background-image: url('http://www.wgsn.com/wp-content/uploads/disney-1024x682.jpg')")
    .masthead-content
      img.masthead-logo(src="/img/logos/wgsn-create-tomorrow.png", width="500")
      //- p The global trend authority for fashion and the creative industries.

  section
    .content-wrap
      .row
        .col-xs-12.col-sm-6.block-bot-md
          +card-home(
            "/img/home/fashion.jpg",
            "/img/misc/video.png",
            "Fashion", 
            "The World's leading fashion and consumer trend forecasting service.",
            "Available 24/7 at WGSN.com",
            "17 product categories, updated daily",
            "Over $20m content investment every year",
            "Trusted by thousands of professionals in the style and design sectors from small to Fortune 500 companies.",
            "/wgsn-fashion")(id="fashion")
          
        .col-xs-12.col-sm-6.block-bot-md
          +card-home(
            "/img/home/lifestyle.jpg",
            "/img/misc/video.png",
            "Lifestyle & Interiors", 
            "The only trend service exclusively for the lifestyle & interiors sectors.",
            "Available 24/7 at WGSN.com",
            "13 product categories, updated daily",
            "Strategic insight with Think Tank",
            "Trusted by thousands of professionals in the style and design sectors from small to Fortune 500 companies.",
            "/wgsn-lifestyle")(id="lifestyle")
          
      .row
        .col-xs-12.col-sm-6.col-md-4.block-bot-md
          +card-home(
            "/img/home/instock.jpg",
            "/img/misc/video.png",
            "InStock", 
            "The big data retail analytics platform for fashion buyers and merchandisers.",
            "Over 12,000 e-commerce brands and retailers",
            "40 million SKUs updated daily, online",
            "5 e-commerce categories covered",
            "Trusted by thousands of professionals in the style and design sectors from small to Fortune 500 companies.",
            "/wgsn-instock")(id="instock")
          
        .col-xs-12.col-sm-6.col-md-4.block-bot-md
          +card-home(
            "/img/home/styletrial.jpg",
            "/img/misc/video.png",
            "StyleTrial", 
            "Crowdsourced validation of range plans",
            "Test designs, CADs and images online",
            "Identify potential best sellers",
            "Over 750,000 panellists",
            "Trusted by thousands of professionals in the style and design sectors from small to Fortune 500 companies.",
            "/wgsn-styletrial")(id="styletrial")
          
        .col-xs-12.col-sm-6.col-md-4.block-bot-md
          +card-home(
            "/img/home/mindset.jpg",
            "/img/misc/video.png",
            "Mindset", 
            "The bespoke consulting service from WGSN",
            "Global consulting team",
            "Market, consumer & product specialists",
            "Track record of delivery",
            "Trusted by thousands of professionals in the style and design sectors from smal to Fortune 500 companies.",
            "/wgsn-mindset")(id="mindset")