extends layout

block content
  section
    .content-wrap
      .row
        .col-xs-12.col-sm-4
          a.back(href="")
            span &#8592;
            |  Go back
          h1 Global retail trends &amp; the vision, S/S 2017
          p 21st September, 2015
          .block-ver-md: img.press-release-img(src="")

        .col-xs-12.col-sm-8
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit. Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh. Duis faucibus neque nec enim vulputate fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit. Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh.
          p Duis faucibus neque nec enim vulputate fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit. Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh. Duis faucibus neque nec enim vulputate fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit.
          p Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh. Duis faucibus neque nec enim vulputate fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit. Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh. Duis faucibus neque nec enim vulputate fermentum.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit. Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh. Duis faucibus neque nec enim vulputate fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit. Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh.
          p Duis faucibus neque nec enim vulputate fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit. Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh. Duis faucibus neque nec enim vulputate fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit.
          p Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh. Duis faucibus neque nec enim vulputate fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo dapibus lorem, vel vestibulum velit. Nulla urna tellus, finibus et purus sit amet, porttitor tempus nibh. Duis faucibus neque nec enim vulputate fermentum.

          .block-top-lg
            h4 About WGSN
            p
              | WGSN is a global foresight business. Our experts provide deep insight
              | and analysis of consumer, fashion and design trends. We inspire our clients
              | to plan and trade their range with unparalleled confidence and accuracy.
              | Together, we Create Tomorrow.
            p
              | WGSN is the World’s Global Style Network, comprising of market-leading
              | products including WGSN Fashion Trend, WGSN Lifestyle &amp; Interiors,
              | WGSN INstock, WGSN StyleTrial, and WGSN Mindset bespoke consulting services.
            p For more information, please visit 
              a.underlined(href="www.wgsn.com") www.wgsn.com