mixin card-home(img, videoimg, title, desc, li1, li2, li3, li4, link)
  .tile.tile-home(id!=attributes.id)
    .tile-img(style="background-image: url(" + img + ")")
    .tile-content.block-md
      h1.tile-title= title
      p= desc
      //- ul.divided-list
      //-   li.tight.block-bot-sm= li1
      //-   li.tight.block-ver-sm= li2
      //-   li.tight.block-ver-sm= li3
      //-   if li4
      //-     li.tight.block-top-sm= li4
      .block-top-md: a.btn.btn-grey.pull-right(href=link) Find out more
      //- a.btn.btn-yellow(href="/demo") Get a demo