.masthead
  width: 100%
  background: $dk-grey no-repeat center / cover
  height: 100vh
  position: relative
  color: white
  display: table
  @extend .section-tight
  @extend .text-center
  
  &:after
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(black, 0.5)

  @media (max-width: $screen-sm-min)
    height: 500px
    font-size: 1em

  .masthead-content
    position: relative
    width: 100%
    display: table-cell
    vertical-align: middle
    z-index: 20

    @media (max-width: $screen-sm-min)
      .masthead-logo
        max-width: 150px

      h1,
      p
        width: 90%
        margin: 0 auto

    @media (max-width: $screen-xs-min)
      .btn
        width: 90%
        margin: 0 auto